$color-default-text: #425466;
$color-default-header: #0a2540;

$color-text-dark-theme: #fff;
$color-text-white: #fff;


$button-bg-color: rgba(140, 82, 255, 0.8);
$button-bg-color-hover: rgba(140, 82, 255, 1);
$button-shadow-color: rgb(168, 125, 255);

$button-bg-color-dark-theme: rgba(255, 255, 255, 0.2);
$button-bg-color-dark-theme-hover: rgba(255, 255, 255, 0.4);
$button-shadow-color-dark-theme: rgba(255, 255, 255, 1);

$color-primary: #8c52ff;
$color-secondary: #00d4ff;